@use "../abstracts" as abstracts;
html {
    font-size: 62.5%; // 1rem = 10px(desired px definition); 10px/16px = 62.5%;

    @include abstracts.breakpoint(767) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%;
    }

    @include abstracts.breakpoint(480) {
        font-size: 45%;
    }
}

body {
    position: relative;
    font-size: 1.6rem;
}

.main {
    padding: 0 10rem;
}

/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url("../fonts/Abel/Abel-Regular.ttf");
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}

/*  font-family: Josefin  */
@font-face {
    font-family: Josefin;
    src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url("../fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

/*  font-family: Livvic  */
@font-face {
    font-family: Livvic;
    src: url("../fonts/Livvic/Livvic-Regular.ttf");
}
