@use "../abstracts/" as abstracts;
html {
    font-size: 62.5%; // 1rem = 10px(desired px definition); 10px/16px = 62.5%;

    @include abstracts.breakpoint(767) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%;
    }

    @include abstracts.breakpoint(480) {
        font-size: 40%;
    }
}
