@use "../abstracts" as abstracts;
.blogs {
    margin: 3rem 0;
    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // grid-template-columns: 1fr; will be great for responsiveness
    // -moz-gap: 7rem;
    gap: 2rem;
    grid-template-rows: repeat(12, 5vw);

    @include abstracts.breakpoint(1023) {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }
}
